
/* font-size */

.fs\:10 { font-size: 10px; }
.fs\:12 { font-size: 12px; }
.fs\:14 { font-size: 14px; }
.fs\:16 { font-size: 16px; }

@media (min-width: 768px) {

  .fs\:10\@md { font-size: 10px; }
  .fs\:12\@md { font-size: 12px; }
  .fs\:14\@md { font-size: 14px; }
  .fs\:16\@md { font-size: 16px; }

}

@media (min-width: 1024px) {

  .fs\:10\@lg { font-size: 10px; }
  .fs\:12\@lg { font-size: 12px; }
  .fs\:14\@lg { font-size: 14px; }
  .fs\:16\@lg { font-size: 16px; }

}

/* display */

.d\:block { display: block; }
.d\:inline { display: inline; }
.d\:inline-block { display: inline-block; }
.d\:flex { display: flex; }
.d\:grid { display: grid; }

@media (min-width: 768px) {

  .d\:block\@md { display: block; }
  .d\:inline\@md { display: inline; }
  .d\:inline-block\@md { display: inline-block; }
  .d\:flex\@md { display: flex; }
  .d\:grid\@md { display: grid; }

}

@media (min-width: 1024px) {

  .d\:block\@lg { display: block; }
  .d\:inline\@lg { display: inline; }
  .d\:inline-block\@lg { display: inline-block; }
  .d\:flex\@lg { display: flex; }
  .d\:grid\@lg { display: grid; }

}

/* color */

.c\:red { color: red; }
.c\:blue { color: blue; }
.c\:green { color: green; }

@media (min-width: 768px) {

  .c\:red\@md { color: red; }
  .c\:blue\@md { color: blue; }
  .c\:green\@md { color: green; }

}

@media (min-width: 1024px) {

  .c\:red\@lg { color: red; }
  .c\:blue\@lg { color: blue; }
  .c\:green\@lg { color: green; }

}

/* background-color */

.bg\:yellow { background-color: yellow; }
.bg\:purple { background-color: purple; }
.bg\:brown { background-color: brown; }

@media (min-width: 768px) {

  .bg\:yellow\@md { background-color: yellow; }
  .bg\:purple\@md { background-color: purple; }
  .bg\:brown\@md { background-color: brown; }

}

@media (min-width: 1024px) {

  .bg\:yellow\@lg { background-color: yellow; }
  .bg\:purple\@lg { background-color: purple; }
  .bg\:brown\@lg { background-color: brown; }

}

/* padding */

.p\:5 { padding: 5px; }
.p-t\:5 { padding-top: 5px; }
.p-r\:5 { padding-right: 5px; }
.p-b\:5 { padding-bottom: 5px; }
.p-l\:5 { padding-left: 5px; }
.p\:10 { padding: 10px; }
.p-t\:10 { padding-top: 10px; }
.p-r\:10 { padding-right: 10px; }
.p-b\:10 { padding-bottom: 10px; }
.p-l\:10 { padding-left: 10px; }
.p\:15 { padding: 15px; }
.p-t\:15 { padding-top: 15px; }
.p-r\:15 { padding-right: 15px; }
.p-b\:15 { padding-bottom: 15px; }
.p-l\:15 { padding-left: 15px; }
.p\:20 { padding: 20px; }
.p-t\:20 { padding-top: 20px; }
.p-r\:20 { padding-right: 20px; }
.p-b\:20 { padding-bottom: 20px; }
.p-l\:20 { padding-left: 20px; }

@media (min-width: 768px) {

  .p\:5\@md { padding: 5px; }
  .p-t\:5\@md { padding-top: 5; }
  .p-r\:5\@md { padding-right: 5; }
  .p-b\:5\@md { padding-bottom: 5; }
  .p-l\:5\@md { padding-left: 5; }
  .p\:10\@md { padding: 10px; }
  .p-t\:10\@md { padding-top: 10; }
  .p-r\:10\@md { padding-right: 10; }
  .p-b\:10\@md { padding-bottom: 10; }
  .p-l\:10\@md { padding-left: 10; }
  .p\:15\@md { padding: 15px; }
  .p-t\:15\@md { padding-top: 15; }
  .p-r\:15\@md { padding-right: 15; }
  .p-b\:15\@md { padding-bottom: 15; }
  .p-l\:15\@md { padding-left: 15; }
  .p\:20\@md { padding: 20px; }
  .p-t\:20\@md { padding-top: 20; }
  .p-r\:20\@md { padding-right: 20; }
  .p-b\:20\@md { padding-bottom: 20; }
  .p-l\:20\@md { padding-left: 20; }

}

@media (min-width: 1024px) {

  .p\:5\@lg { padding: 5px; }
  .p-t\:5\@lg { padding-top: 5; }
  .p-r\:5\@lg { padding-right: 5; }
  .p-b\:5\@lg { padding-bottom: 5; }
  .p-l\:5\@lg { padding-left: 5; }
  .p\:10\@lg { padding: 10px; }
  .p-t\:10\@lg { padding-top: 10; }
  .p-r\:10\@lg { padding-right: 10; }
  .p-b\:10\@lg { padding-bottom: 10; }
  .p-l\:10\@lg { padding-left: 10; }
  .p\:15\@lg { padding: 15px; }
  .p-t\:15\@lg { padding-top: 15; }
  .p-r\:15\@lg { padding-right: 15; }
  .p-b\:15\@lg { padding-bottom: 15; }
  .p-l\:15\@lg { padding-left: 15; }
  .p\:20\@lg { padding: 20px; }
  .p-t\:20\@lg { padding-top: 20; }
  .p-r\:20\@lg { padding-right: 20; }
  .p-b\:20\@lg { padding-bottom: 20; }
  .p-l\:20\@lg { padding-left: 20; }

}

/* margin */

.m\:4 { margin: 4px; }
.m-t\:4 { margin-top: 4px; }
.m-r\:4 { margin-right: 4px; }
.m-b\:4 { margin-bottom: 4px; }
.m-l\:4 { margin-left: 4px; }
.m\:8 { margin: 8px; }
.m-t\:8 { margin-top: 8px; }
.m-r\:8 { margin-right: 8px; }
.m-b\:8 { margin-bottom: 8px; }
.m-l\:8 { margin-left: 8px; }
.m\:12 { margin: 12px; }
.m-t\:12 { margin-top: 12px; }
.m-r\:12 { margin-right: 12px; }
.m-b\:12 { margin-bottom: 12px; }
.m-l\:12 { margin-left: 12px; }
.m\:16 { margin: 16px; }
.m-t\:16 { margin-top: 16px; }
.m-r\:16 { margin-right: 16px; }
.m-b\:16 { margin-bottom: 16px; }
.m-l\:16 { margin-left: 16px; }

@media (min-width: 768px) {

  .m\:4\@md { margin: 4px; }
  .m-t\:4\@md { margin-top: 4px; }
  .m-r\:4\@md { margin-right: 4px; }
  .m-b\:4\@md { margin-bottom: 4px; }
  .m-l\:4\@md { margin-left: 4px; }
  .m\:8\@md { margin: 8px; }
  .m-t\:8\@md { margin-top: 8px; }
  .m-r\:8\@md { margin-right: 8px; }
  .m-b\:8\@md { margin-bottom: 8px; }
  .m-l\:8\@md { margin-left: 8px; }
  .m\:12\@md { margin: 12px; }
  .m-t\:12\@md { margin-top: 12px; }
  .m-r\:12\@md { margin-right: 12px; }
  .m-b\:12\@md { margin-bottom: 12px; }
  .m-l\:12\@md { margin-left: 12px; }
  .m\:16\@md { margin: 16px; }
  .m-t\:16\@md { margin-top: 16px; }
  .m-r\:16\@md { margin-right: 16px; }
  .m-b\:16\@md { margin-bottom: 16px; }
  .m-l\:16\@md { margin-left: 16px; }

}

@media (min-width: 1024px) {

  .m\:4\@lg { margin: 4px; }
  .m-t\:4\@lg { margin-top: 4px; }
  .m-r\:4\@lg { margin-right: 4px; }
  .m-b\:4\@lg { margin-bottom: 4px; }
  .m-l\:4\@lg { margin-left: 4px; }
  .m\:8\@lg { margin: 8px; }
  .m-t\:8\@lg { margin-top: 8px; }
  .m-r\:8\@lg { margin-right: 8px; }
  .m-b\:8\@lg { margin-bottom: 8px; }
  .m-l\:8\@lg { margin-left: 8px; }
  .m\:12\@lg { margin: 12px; }
  .m-t\:12\@lg { margin-top: 12px; }
  .m-r\:12\@lg { margin-right: 12px; }
  .m-b\:12\@lg { margin-bottom: 12px; }
  .m-l\:12\@lg { margin-left: 12px; }
  .m\:16\@lg { margin: 16px; }
  .m-t\:16\@lg { margin-top: 16px; }
  .m-r\:16\@lg { margin-right: 16px; }
  .m-b\:16\@lg { margin-bottom: 16px; }
  .m-l\:16\@lg { margin-left: 16px; }

}