
/* flex */


/* font-size */

.fs\:11 { font-size: 11px; }
.fs\:12 { font-size: 12px; }
.fs\:14 { font-size: 14px; }
.fs\:16 { font-size: 16px; }
.fs\:18 { font-size: 18px; }
.fs\:20 { font-size: 20px; }
.fs\:22 { font-size: 22px; }
.fs\:24 { font-size: 24px; }
.fs\:30 { font-size: 30px; }
.fs\:36 { font-size: 36px; }
.fs\:50 { font-size: 50px; }

@media (min-width: 768px) {

  .fs\:11\@md { font-size: 11px; }
  .fs\:12\@md { font-size: 12px; }
  .fs\:14\@md { font-size: 14px; }
  .fs\:16\@md { font-size: 16px; }
  .fs\:18\@md { font-size: 18px; }
  .fs\:20\@md { font-size: 20px; }
  .fs\:22\@md { font-size: 22px; }
  .fs\:24\@md { font-size: 24px; }
  .fs\:30\@md { font-size: 30px; }
  .fs\:36\@md { font-size: 36px; }
  .fs\:50\@md { font-size: 50px; }

}

@media (min-width: 1200px) {

  .fs\:11\@lg { font-size: 11px; }
  .fs\:12\@lg { font-size: 12px; }
  .fs\:14\@lg { font-size: 14px; }
  .fs\:16\@lg { font-size: 16px; }
  .fs\:18\@lg { font-size: 18px; }
  .fs\:20\@lg { font-size: 20px; }
  .fs\:22\@lg { font-size: 22px; }
  .fs\:24\@lg { font-size: 24px; }
  .fs\:30\@lg { font-size: 30px; }
  .fs\:36\@lg { font-size: 36px; }
  .fs\:50\@lg { font-size: 50px; }

}

/* font-family */

.ff\:MuseoSlab { font-family: MuseoSlab; }
.ff\:Montserrat { font-family: Montserrat; }

@media (min-width: 768px) {

  .ff\:MuseoSlab\@md { font-family: MuseoSlab; }
  .ff\:Montserrat\@md { font-family: Montserrat; }

}

@media (min-width: 1200px) {

  .ff\:MuseoSlab\@lg { font-family: MuseoSlab; }
  .ff\:Montserrat\@lg { font-family: Montserrat; }

}

/* font-weight */

.fw\:300 { font-weight: 300; }
.fw\:400 { font-weight: 400; }
.fw\:500 { font-weight: 500; }
.fw\:600 { font-weight: 600; }
.fw\:700 { font-weight: 700; }

@media (min-width: 768px) {

  .fw\:300\@md { font-weight: 300; }
  .fw\:400\@md { font-weight: 400; }
  .fw\:500\@md { font-weight: 500; }
  .fw\:600\@md { font-weight: 600; }
  .fw\:700\@md { font-weight: 700; }

}

@media (min-width: 1200px) {

  .fw\:300\@lg { font-weight: 300; }
  .fw\:400\@lg { font-weight: 400; }
  .fw\:500\@lg { font-weight: 500; }
  .fw\:600\@lg { font-weight: 600; }
  .fw\:700\@lg { font-weight: 700; }

}

/* display */

.d\:block { display: block; }
.d\:inline { display: inline; }
.d\:inline-block { display: inline-block; }
.d\:flex { display: flex; }
.d\:grid { display: grid; }

@media (min-width: 768px) {

  .d\:block\@md { display: block; }
  .d\:inline\@md { display: inline; }
  .d\:inline-block\@md { display: inline-block; }
  .d\:flex\@md { display: flex; }
  .d\:grid\@md { display: grid; }

}

@media (min-width: 1200px) {

  .d\:block\@lg { display: block; }
  .d\:inline\@lg { display: inline; }
  .d\:inline-block\@lg { display: inline-block; }
  .d\:flex\@lg { display: flex; }
  .d\:grid\@lg { display: grid; }

}

/* color */

.c\:white { color: #fff; }
.c\:light-purple { color: #b8a1c1; }
.c\:ruby { color: #e42045; }
.c\:bright-purple { color: #c05bdb; }
.c\:darkest-purple { color: #1e1123; }
.c\:dark-purple { color: #2f1e36; }

@media (min-width: 768px) {

  .c\:white\@md { color: #fff; }
  .c\:light-purple\@md { color: #b8a1c1; }
  .c\:ruby\@md { color: #e42045; }
  .c\:bright-purple\@md { color: #c05bdb; }
  .c\:darkest-purple\@md { color: #1e1123; }
  .c\:dark-purple\@md { color: #2f1e36; }

}

@media (min-width: 1200px) {

  .c\:white\@lg { color: #fff; }
  .c\:light-purple\@lg { color: #b8a1c1; }
  .c\:ruby\@lg { color: #e42045; }
  .c\:bright-purple\@lg { color: #c05bdb; }
  .c\:darkest-purple\@lg { color: #1e1123; }
  .c\:dark-purple\@lg { color: #2f1e36; }

}

/* background-color */

.bg\:white { background-color: #fff; }
.bg\:light-purple { background-color: #b8a1c1; }
.bg\:ruby { background-color: #e42045; }
.bg\:bright-purple { background-color: #c05bdb; }
.bg\:darkest-purple { background-color: #1e1123; }
.bg\:dark-purple { background-color: #2f1e36; }

@media (min-width: 768px) {

  .bg\:white\@md { background-color: #fff; }
  .bg\:light-purple\@md { background-color: #b8a1c1; }
  .bg\:ruby\@md { background-color: #e42045; }
  .bg\:bright-purple\@md { background-color: #c05bdb; }
  .bg\:darkest-purple\@md { background-color: #1e1123; }
  .bg\:dark-purple\@md { background-color: #2f1e36; }

}

@media (min-width: 1200px) {

  .bg\:white\@lg { background-color: #fff; }
  .bg\:light-purple\@lg { background-color: #b8a1c1; }
  .bg\:ruby\@lg { background-color: #e42045; }
  .bg\:bright-purple\@lg { background-color: #c05bdb; }
  .bg\:darkest-purple\@lg { background-color: #1e1123; }
  .bg\:dark-purple\@lg { background-color: #2f1e36; }

}

/* padding */

.p\:10 { padding: 10px; }
.p-t\:10 { padding-top: 10px; }
.p-r\:10 { padding-right: 10px; }
.p-b\:10 { padding-bottom: 10px; }
.p-l\:10 { padding-left: 10px; }
.p\:15 { padding: 15px; }
.p-t\:15 { padding-top: 15px; }
.p-r\:15 { padding-right: 15px; }
.p-b\:15 { padding-bottom: 15px; }
.p-l\:15 { padding-left: 15px; }
.p\:20 { padding: 20px; }
.p-t\:20 { padding-top: 20px; }
.p-r\:20 { padding-right: 20px; }
.p-b\:20 { padding-bottom: 20px; }
.p-l\:20 { padding-left: 20px; }
.p\:30 { padding: 30px; }
.p-t\:30 { padding-top: 30px; }
.p-r\:30 { padding-right: 30px; }
.p-b\:30 { padding-bottom: 30px; }
.p-l\:30 { padding-left: 30px; }
.p\:40 { padding: 40px; }
.p-t\:40 { padding-top: 40px; }
.p-r\:40 { padding-right: 40px; }
.p-b\:40 { padding-bottom: 40px; }
.p-l\:40 { padding-left: 40px; }
.p\:50 { padding: 50px; }
.p-t\:50 { padding-top: 50px; }
.p-r\:50 { padding-right: 50px; }
.p-b\:50 { padding-bottom: 50px; }
.p-l\:50 { padding-left: 50px; }
.p\:60 { padding: 60px; }
.p-t\:60 { padding-top: 60px; }
.p-r\:60 { padding-right: 60px; }
.p-b\:60 { padding-bottom: 60px; }
.p-l\:60 { padding-left: 60px; }
.p\:80 { padding: 80px; }
.p-t\:80 { padding-top: 80px; }
.p-r\:80 { padding-right: 80px; }
.p-b\:80 { padding-bottom: 80px; }
.p-l\:80 { padding-left: 80px; }
.p\:100 { padding: 100px; }
.p-t\:100 { padding-top: 100px; }
.p-r\:100 { padding-right: 100px; }
.p-b\:100 { padding-bottom: 100px; }
.p-l\:100 { padding-left: 100px; }

@media (min-width: 768px) {

  .p\:10\@md { padding: 10px; }
  .p-t\:10\@md { padding-top: 10px; }
  .p-r\:10\@md { padding-right: 10px; }
  .p-b\:10\@md { padding-bottom: 10px; }
  .p-l\:10\@md { padding-left: 10px; }
  .p\:15\@md { padding: 15px; }
  .p-t\:15\@md { padding-top: 15px; }
  .p-r\:15\@md { padding-right: 15px; }
  .p-b\:15\@md { padding-bottom: 15px; }
  .p-l\:15\@md { padding-left: 15px; }
  .p\:20\@md { padding: 20px; }
  .p-t\:20\@md { padding-top: 20px; }
  .p-r\:20\@md { padding-right: 20px; }
  .p-b\:20\@md { padding-bottom: 20px; }
  .p-l\:20\@md { padding-left: 20px; }
  .p\:30\@md { padding: 30px; }
  .p-t\:30\@md { padding-top: 30px; }
  .p-r\:30\@md { padding-right: 30px; }
  .p-b\:30\@md { padding-bottom: 30px; }
  .p-l\:30\@md { padding-left: 30px; }
  .p\:40\@md { padding: 40px; }
  .p-t\:40\@md { padding-top: 40px; }
  .p-r\:40\@md { padding-right: 40px; }
  .p-b\:40\@md { padding-bottom: 40px; }
  .p-l\:40\@md { padding-left: 40px; }
  .p\:50\@md { padding: 50px; }
  .p-t\:50\@md { padding-top: 50px; }
  .p-r\:50\@md { padding-right: 50px; }
  .p-b\:50\@md { padding-bottom: 50px; }
  .p-l\:50\@md { padding-left: 50px; }
  .p\:60\@md { padding: 60px; }
  .p-t\:60\@md { padding-top: 60px; }
  .p-r\:60\@md { padding-right: 60px; }
  .p-b\:60\@md { padding-bottom: 60px; }
  .p-l\:60\@md { padding-left: 60px; }
  .p\:80\@md { padding: 80px; }
  .p-t\:80\@md { padding-top: 80px; }
  .p-r\:80\@md { padding-right: 80px; }
  .p-b\:80\@md { padding-bottom: 80px; }
  .p-l\:80\@md { padding-left: 80px; }
  .p\:100\@md { padding: 100px; }
  .p-t\:100\@md { padding-top: 100px; }
  .p-r\:100\@md { padding-right: 100px; }
  .p-b\:100\@md { padding-bottom: 100px; }
  .p-l\:100\@md { padding-left: 100px; }

}

@media (min-width: 1200px) {

  .p\:10\@lg { padding: 10px; }
  .p-t\:10\@lg { padding-top: 10px; }
  .p-r\:10\@lg { padding-right: 10px; }
  .p-b\:10\@lg { padding-bottom: 10px; }
  .p-l\:10\@lg { padding-left: 10px; }
  .p\:15\@lg { padding: 15px; }
  .p-t\:15\@lg { padding-top: 15px; }
  .p-r\:15\@lg { padding-right: 15px; }
  .p-b\:15\@lg { padding-bottom: 15px; }
  .p-l\:15\@lg { padding-left: 15px; }
  .p\:20\@lg { padding: 20px; }
  .p-t\:20\@lg { padding-top: 20px; }
  .p-r\:20\@lg { padding-right: 20px; }
  .p-b\:20\@lg { padding-bottom: 20px; }
  .p-l\:20\@lg { padding-left: 20px; }
  .p\:30\@lg { padding: 30px; }
  .p-t\:30\@lg { padding-top: 30px; }
  .p-r\:30\@lg { padding-right: 30px; }
  .p-b\:30\@lg { padding-bottom: 30px; }
  .p-l\:30\@lg { padding-left: 30px; }
  .p\:40\@lg { padding: 40px; }
  .p-t\:40\@lg { padding-top: 40px; }
  .p-r\:40\@lg { padding-right: 40px; }
  .p-b\:40\@lg { padding-bottom: 40px; }
  .p-l\:40\@lg { padding-left: 40px; }
  .p\:50\@lg { padding: 50px; }
  .p-t\:50\@lg { padding-top: 50px; }
  .p-r\:50\@lg { padding-right: 50px; }
  .p-b\:50\@lg { padding-bottom: 50px; }
  .p-l\:50\@lg { padding-left: 50px; }
  .p\:60\@lg { padding: 60px; }
  .p-t\:60\@lg { padding-top: 60px; }
  .p-r\:60\@lg { padding-right: 60px; }
  .p-b\:60\@lg { padding-bottom: 60px; }
  .p-l\:60\@lg { padding-left: 60px; }
  .p\:80\@lg { padding: 80px; }
  .p-t\:80\@lg { padding-top: 80px; }
  .p-r\:80\@lg { padding-right: 80px; }
  .p-b\:80\@lg { padding-bottom: 80px; }
  .p-l\:80\@lg { padding-left: 80px; }
  .p\:100\@lg { padding: 100px; }
  .p-t\:100\@lg { padding-top: 100px; }
  .p-r\:100\@lg { padding-right: 100px; }
  .p-b\:100\@lg { padding-bottom: 100px; }
  .p-l\:100\@lg { padding-left: 100px; }

}

/* margin */

.m\:10 { margin: 10px; }
.m-t\:10 { margin-top: 10px; }
.m-r\:10 { margin-right: 10px; }
.m-b\:10 { margin-bottom: 10px; }
.m-l\:10 { margin-left: 10px; }
.m\:15 { margin: 15px; }
.m-t\:15 { margin-top: 15px; }
.m-r\:15 { margin-right: 15px; }
.m-b\:15 { margin-bottom: 15px; }
.m-l\:15 { margin-left: 15px; }
.m\:20 { margin: 20px; }
.m-t\:20 { margin-top: 20px; }
.m-r\:20 { margin-right: 20px; }
.m-b\:20 { margin-bottom: 20px; }
.m-l\:20 { margin-left: 20px; }
.m\:30 { margin: 30px; }
.m-t\:30 { margin-top: 30px; }
.m-r\:30 { margin-right: 30px; }
.m-b\:30 { margin-bottom: 30px; }
.m-l\:30 { margin-left: 30px; }
.m\:40 { margin: 40px; }
.m-t\:40 { margin-top: 40px; }
.m-r\:40 { margin-right: 40px; }
.m-b\:40 { margin-bottom: 40px; }
.m-l\:40 { margin-left: 40px; }
.m\:50 { margin: 50px; }
.m-t\:50 { margin-top: 50px; }
.m-r\:50 { margin-right: 50px; }
.m-b\:50 { margin-bottom: 50px; }
.m-l\:50 { margin-left: 50px; }
.m\:60 { margin: 60px; }
.m-t\:60 { margin-top: 60px; }
.m-r\:60 { margin-right: 60px; }
.m-b\:60 { margin-bottom: 60px; }
.m-l\:60 { margin-left: 60px; }
.m\:80 { margin: 80px; }
.m-t\:80 { margin-top: 80px; }
.m-r\:80 { margin-right: 80px; }
.m-b\:80 { margin-bottom: 80px; }
.m-l\:80 { margin-left: 80px; }
.m\:100 { margin: 100px; }
.m-t\:100 { margin-top: 100px; }
.m-r\:100 { margin-right: 100px; }
.m-b\:100 { margin-bottom: 100px; }
.m-l\:100 { margin-left: 100px; }

@media (min-width: 768px) {

  .m\:10\@md { margin: 10px; }
  .m-t\:10\@md { margin-top: 10px; }
  .m-r\:10\@md { margin-right: 10px; }
  .m-b\:10\@md { margin-bottom: 10px; }
  .m-l\:10\@md { margin-left: 10px; }
  .m\:15\@md { margin: 15px; }
  .m-t\:15\@md { margin-top: 15px; }
  .m-r\:15\@md { margin-right: 15px; }
  .m-b\:15\@md { margin-bottom: 15px; }
  .m-l\:15\@md { margin-left: 15px; }
  .m\:20\@md { margin: 20px; }
  .m-t\:20\@md { margin-top: 20px; }
  .m-r\:20\@md { margin-right: 20px; }
  .m-b\:20\@md { margin-bottom: 20px; }
  .m-l\:20\@md { margin-left: 20px; }
  .m\:30\@md { margin: 30px; }
  .m-t\:30\@md { margin-top: 30px; }
  .m-r\:30\@md { margin-right: 30px; }
  .m-b\:30\@md { margin-bottom: 30px; }
  .m-l\:30\@md { margin-left: 30px; }
  .m\:40\@md { margin: 40px; }
  .m-t\:40\@md { margin-top: 40px; }
  .m-r\:40\@md { margin-right: 40px; }
  .m-b\:40\@md { margin-bottom: 40px; }
  .m-l\:40\@md { margin-left: 40px; }
  .m\:50\@md { margin: 50px; }
  .m-t\:50\@md { margin-top: 50px; }
  .m-r\:50\@md { margin-right: 50px; }
  .m-b\:50\@md { margin-bottom: 50px; }
  .m-l\:50\@md { margin-left: 50px; }
  .m\:60\@md { margin: 60px; }
  .m-t\:60\@md { margin-top: 60px; }
  .m-r\:60\@md { margin-right: 60px; }
  .m-b\:60\@md { margin-bottom: 60px; }
  .m-l\:60\@md { margin-left: 60px; }
  .m\:80\@md { margin: 80px; }
  .m-t\:80\@md { margin-top: 80px; }
  .m-r\:80\@md { margin-right: 80px; }
  .m-b\:80\@md { margin-bottom: 80px; }
  .m-l\:80\@md { margin-left: 80px; }
  .m\:100\@md { margin: 100px; }
  .m-t\:100\@md { margin-top: 100px; }
  .m-r\:100\@md { margin-right: 100px; }
  .m-b\:100\@md { margin-bottom: 100px; }
  .m-l\:100\@md { margin-left: 100px; }

}

@media (min-width: 1200px) {

  .m\:10\@lg { margin: 10px; }
  .m-t\:10\@lg { margin-top: 10px; }
  .m-r\:10\@lg { margin-right: 10px; }
  .m-b\:10\@lg { margin-bottom: 10px; }
  .m-l\:10\@lg { margin-left: 10px; }
  .m\:15\@lg { margin: 15px; }
  .m-t\:15\@lg { margin-top: 15px; }
  .m-r\:15\@lg { margin-right: 15px; }
  .m-b\:15\@lg { margin-bottom: 15px; }
  .m-l\:15\@lg { margin-left: 15px; }
  .m\:20\@lg { margin: 20px; }
  .m-t\:20\@lg { margin-top: 20px; }
  .m-r\:20\@lg { margin-right: 20px; }
  .m-b\:20\@lg { margin-bottom: 20px; }
  .m-l\:20\@lg { margin-left: 20px; }
  .m\:30\@lg { margin: 30px; }
  .m-t\:30\@lg { margin-top: 30px; }
  .m-r\:30\@lg { margin-right: 30px; }
  .m-b\:30\@lg { margin-bottom: 30px; }
  .m-l\:30\@lg { margin-left: 30px; }
  .m\:40\@lg { margin: 40px; }
  .m-t\:40\@lg { margin-top: 40px; }
  .m-r\:40\@lg { margin-right: 40px; }
  .m-b\:40\@lg { margin-bottom: 40px; }
  .m-l\:40\@lg { margin-left: 40px; }
  .m\:50\@lg { margin: 50px; }
  .m-t\:50\@lg { margin-top: 50px; }
  .m-r\:50\@lg { margin-right: 50px; }
  .m-b\:50\@lg { margin-bottom: 50px; }
  .m-l\:50\@lg { margin-left: 50px; }
  .m\:60\@lg { margin: 60px; }
  .m-t\:60\@lg { margin-top: 60px; }
  .m-r\:60\@lg { margin-right: 60px; }
  .m-b\:60\@lg { margin-bottom: 60px; }
  .m-l\:60\@lg { margin-left: 60px; }
  .m\:80\@lg { margin: 80px; }
  .m-t\:80\@lg { margin-top: 80px; }
  .m-r\:80\@lg { margin-right: 80px; }
  .m-b\:80\@lg { margin-bottom: 80px; }
  .m-l\:80\@lg { margin-left: 80px; }
  .m\:100\@lg { margin: 100px; }
  .m-t\:100\@lg { margin-top: 100px; }
  .m-r\:100\@lg { margin-right: 100px; }
  .m-b\:100\@lg { margin-bottom: 100px; }
  .m-l\:100\@lg { margin-left: 100px; }

}