
/* color */


:root {


/* color */

  --white: #fff;
  --light-purple: #b8a1c1;
  --ruby: #e42045;
  --bright-purple: #c05bdb;
  --darkest-purple: #1e1123;
  --dark-purple: #2f1e36;

/* spacing */

  --sp-10: 10;
  --sp-15: 15;
  --sp-20: 20;
  --sp-30: 30;
  --sp-40: 40;
  --sp-50: 50;
  --sp-60: 60;
  --sp-80: 80;
  --sp-100: 100;

/* font-family */

  --font-family-MuseoSlab: MuseoSlab;
  --font-family-Montserrat: Montserrat;

/* font-weight */

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

/* font-size */

  --font-size-11: 11;
  --font-size-12: 12;
  --font-size-14: 14;
  --font-size-16: 16;
  --font-size-18: 18;
  --font-size-20: 20;
  --font-size-22: 22;
  --font-size-24: 24;
  --font-size-30: 30;
  --font-size-36: 36;
  --font-size-50: 50;

}